<?xml version="1.0"?>
<configuration>

    <connectionStrings>
        <add name="conexao" connectionString="Data Source=mssql03.redehost.com.br,5003;Initial Catalog=legalfox_prd;Persist Security Info=True;User ID=adm;Password=Inside1@218"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
